:root {
  --font-sans-serif: Poppins, sans-serif;
  --font-serif: Brawler, serif;
  --black: #000;
  --gray-dark: #595959;
  --yellow: #ffdb00;
  --gray-light: #ebebeb;
  --white: #fff;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/**
* Typography
*/
body {
  font-family: var(--font-serif);
  color: var(--gray-dark);
  line-height: 1.667;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-sans-serif);
  color: var(--black);
  line-height: 1.2;
  font-weight: 500;
}
h2 {
  font-size: 2.333rem;
}
h3 {
  font-size: 1.667rem;
}
h4 {
  font-size: 1.333rem;
}

a {
  color: var(--gray-dark);
}

img {
  max-width: 100%;
  display: block;
}

/**
* .component
*/
.component img {
  max-width: initial;
}
.component__img {
  border: 1px solid #ccc;
  overflow-x: auto;
}
.component__code {
  border: 1px solid #ccc;
}
