<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Components | Wolff Olins</title>
    <link
      href="https://fonts.googleapis.com/css?family=Brawler|Poppins:400,500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <h1>Web Components</h1>

    <h2>Typography Defaults</h2>

    <article class="component">
      <h3 class="component__name">body</h3>
      <div class="component__img">
        <img
          srcset="img/body-copy-with-links@2x.png 2x"
          src="img/body-copy-with-links@2x.png"
          alt="body copy"
        />
      </div>
      <div class="component__code">
        <p>
          The new brand was launched September 2018 alongside a new mission
          statement and a renewed commitment to safety. We’re thrilled to share
          that since our partnership, Uber’s brand went up 51% in value. In May
          2019, it went public to be valued at more than $82 billion. For more
          details on the brand launch, check out <a href="#!">Fast Company</a>,
          <a href="#!">AdWeek</a> and
          <a href="#!">Uber’s own case study</a> website. Thanks to our tireless
          collaborators MCKL Type Foundry and the Uber Brand Experience Team.
        </p>
      </div>
    </article>

    <article class="component">
      <h3 class="component__name">headings (h1, h2, ...)</h3>
      <div class="component__img">
        <img srcset="img/h2@2x.png 2x" src="img/h2@2x.png" alt="h2" />
        <img srcset="img/h3@2x.png 2x" src="img/h3@2x.png" alt="h3" />
        <img srcset="img/h4@2x.png 2x" src="img/h4@2x.png" alt="h4" />
      </div>
      <div class="component__code">
        <h2>Changing how the world moves</h2>
        <h3>You might also like</h3>
        <h4>The Met</h4>
      </div>
    </article>
  </body>
</html>
